.botao-fechar:hover
{
   -fx-text-fill: red;
}

.botao-registrar:hover, .botao-login:hover, botao-confirmarRegistro:hover, botao-cancelarRegistro:hover
{
    -fx-text-fill: black;
}

.botao-registrar, .botao-login, botao-confirmarRegistro, botao-cancelarRegistro
{
    -fx-text-fill: white;
}
