<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Dados</title>
</head>
<body>
<h1>Tabela de Dados</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>NACIONALIDADE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="piloto : ${Pilotos}">
        <td th:text="${piloto.getId()}"></td>
        <td th:text="${piloto.getNome()}"></td>
        <td th:text="${piloto.getNacionalidade()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
